<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @partners.each do |partner| %>
        
            <tr id="partner<%= partner.id %>">
                
                    
                    <td><%= partner.name %></td>
                    <td><%= partner.email%></td>
                    <td><%= partner.phone%></td>
                    <td>    
                        <button onClick="deletePartner(this)" data-partner-id="<%= partner.id %>" type="submit" class="btn btn-primary">
                            Delete
                        </button></td>
                
            </tr>
        
    <% end %>
  </tbody>
</table>

<% content_for :for_js do %>
  <script>
    function deletePartner(del_btn) {
      var r =  confirm("Do you want to delete the partner?");
      if (r == true) {
        var uid = del_btn.getAttribute("data-partner-id");

        var token = $( 'meta[name="csrf-token"]' ).attr( 'content' );

        $.ajaxSetup( {
          beforeSend: function ( xhr ) {
            xhr.setRequestHeader( 'X-CSRF-Token', token );
          }
        });

        $.ajax({
                url: '/admin/partner_destroy',
                type: 'POST',
                data: {
                  partner_id: uid
                }
            }).done(function(result) {
               $("#partner"+uid).remove();
               toastr.success(result.data);
            });
      } else {
        return false;
      }
    }
  </script>
<% end %>