<% content_for :for_head do %>
  <%= stylesheet_link_tag 'custom/profile', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :for_content do %>
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Partner List</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">Archive by Category SPORTS</li> -->
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->



    <!-- ##### Archive Grid Posts Area Start ##### -->
    <div class="vizew-posts-area mb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Archive Catagory & View Options -->
                    <div class="archive-catagory-view mb-50 d-flex align-items-center justify-content-between">
                        <!-- Catagory -->
                        <div class="archive-catagory">
                            <h4><i class="fa fa-trophy" aria-hidden="true"></i> Cleaning Staff List</h4>
                        </div>
                        <!-- View Options -->
                        <div class="view-options">
                            <a href="#" class="active"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            <!-- <a href="archive-list.html"><i class="fa fa-list-ul" aria-hidden="true"></i></a> -->
                        </div>
                    </div>

                    <div class="row" id="grid-show">
                        <% @partners.each_with_index do |partner, index| %>
                        <!-- Single Blog Post -->
                            <div class="col-12 col-md-6">
                                <div class="single-post-area mb-50">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img style="border: 1px solid #363836; height: 233px" alt="<%= partner.description %>" title="<%= partner.description %>" src="<%= partner.avatar %>" onerror="this.src='img/bg-img/clean<%= index %>.jpg'">

                                        <!-- Video Duration -->
                                        <span class="video-duration"><%= number_to_currency(partner.cost*1000, precision: 0, unit: "" )+ " VND" %></span>
                                    </div>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-success"><%= address_decode(partner.city, partner.district)%></a>
                                        <a href="#" class="post-cata cata-sm cata-primary"><%= partner.worktime_start + ' h - ' + partner.worktime_end + ' h' %></a>
                                        <div lass="post-title" style="font-size: 15px; font-weight: 400;">
                                            <div><b>Name</b>: <%= partner.name %></div>
                                            <div><b>Email</b>: <%= partner.email %></div>
                                            <div><b>Phone</b>: <%= partner.phone %></div>
                                        </div>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> <%= partner.city %></a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> <%= partner.district %></a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <% end %>

                    </div>

                    <!-- Pagination -->
                    <nav class="mt-50">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="sidebar-area">

                        <!-- Begin Advanced Search -->
                        <section class="pgl-advanced-search pgl-bg-light search-widget mb-50">
                            <div class="container">
                                <form action="<%= staff_search_path %>" method="GET" role="search">
                                    <div class="form-group row">
                                        <h4 class="col-sm-12 text-center">Advance Search</h4>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" value="<%= @keyword %>" class="form-control" id="keyword" name="keyword" placeholder="Enter your keyword to search" autofocus>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-2 price-filter-cover">
                                             <span class="vertical-sub">Price: </span>
                                        </div>
                                        <div class="col-sm-4 price-filter-cover">
                                            <label class="sr-only" for="search-minprice">Price from</label>
                                            <select value="<%= @minprice %>" id="search-minprice" name="minprice" data-placeholder="Price from" class="chosen-select price-from-filter">
                                                <%# <option value="default">Price from</option> %>
                                                <option value="0" <%= 'selected' if @minprice=='0' %>>0</option>
                                                <option value="1000000" <%= 'selected' if @minprice=='1000000' %>>1.000.000</option>
                                                <option value="2000000" <%= 'selected' if @minprice=='2000000' %>>2.000.000</option>
                                                <option value="5000000" <%= 'selected' if @minprice=='5000000' %>>5.000.000</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 price-filter-cover">
                                             <span class="vertical-sub">~</span>
                                        </div>
                                        <div class="col-sm-4 price-filter-cover">
                                            <label class="sr-only" for="search-maxprice">to</label>
                                            <select id="search-maxprice" name="maxprice" data-placeholder="to" class="chosen-select price-from-filter">
                                                <%# <option selected="selected" value="default">to</option> %>
                                                <option value="1000000" <%= 'selected' if @maxprice=='1000000' %>>1.000.000</option>
                                                <option value="2000000" <%= 'selected' if @maxprice=='2000000' %>>2.000.000</option>
                                                <option value="5000000" <%= 'selected' if @maxprice=='5000000' %>>5.000.000</option>
                                                <option value="8000000" <%= 'selected' if @maxprice=='8000000' %>>8.000.000</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 price-type-cover">
                                             <span>VND</span>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="sr-only" for="area-from">Working Time</label>
                                            <select id="area-from" name="area" data-placeholder="Working Time" class="chosen-select working-time-filter">
                                                <option selected="selected" value="default">Working Time</option>
                                                <option value="5, 8">05 h - 08 h</option>
                                                <option value="8, 11">08 h - 11 h</option>
                                                <option value="11, 14">11 h - 14 h</option>
                                                <option value="14, 17">14 h - 17 h</option>
                                                <option value="17, 20">17 h - 20 h</option>
                                                <option value="20, 23">20 h - 23 h</option>
                                            </select>
                                        </div>
                                    </div> -->

                                    <div class="form-group row">
                                        <div class="col-sm-2 price-filter-cover">
                                             <span class="vertical-sub">Time: </span>
                                        </div>
                                        <div class="col-sm-4 price-filter-cover">
                                            <label class="sr-only" for="search-mintime">Time from</label>
                                            <select id="search-mintime" name="mintime" data-placeholder="Time from" class="chosen-select price-from-filter">
                                                <%# <option selected="selected" value="default">Time from</option> %>
                                                <% (6..20).each do |i| %>
                                                    <option value="<%= i %>" <%= 'selected' if @mintime==i.to_s %>><%= i %></option>
                                                <% end %>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 price-filter-cover">
                                             <span class="vertical-sub">~</span>
                                        </div>
                                        <div class="col-sm-4 price-filter-cover">
                                            <label class="sr-only" for="search-maxtime">to</label>
                                            <select id="search-maxtime" name="maxtime" data-placeholder="to" class="chosen-select price-from-filter">
                                                <%# <option selected="selected" value="default">to</option> %>
                                                <% (7..21).each do |i| %>
                                                    <option value="<%= i %>" <%= 'selected' if @maxtime==i.to_s %>><%= i %></option>
                                                <% end %>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 price-type-cover">
                                                <span>H</span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="sr-only" for="search-city">city/province</label>
                                            <select class="chosen-select working-time-filter" id="city" name="city" data-dependent="district" data-placeholder="-- Choose city/province --">
                                                <option selected="selected" value="default">-- Choose city/province --</option>
                                                <% @cities.each do |city| %>
                                                    <option value="<%= city[0] %>"><%= city[1]['name'] %></option>
                                                <% end %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="sr-only" for="district">district</label>
                                                <select class="chosen-select working-time-filter" id="district" name="district" data-dependent="ward" data-placeholder="-- Choose district --">
                                                    <option selected="selected" value="default">-- Choose district --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-block btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </div>
                
            
                                </form>
                            </div>
                        </section>
                        <!-- End Advanced Search -->

                        <!-- ***** Single Widget ***** -->
                        <!-- <div class="single-widget followers-widget mb-50">
                            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span class="counter">198</span><span>Fan</span></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span class="counter">220</span><span>Followers</span></a>
                            <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i><span class="counter">140</span><span>Subscribe</span></a>
                        </div> -->



                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget newsletter-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Newsletter</h4>
                                <div class="line"></div>
                            </div>
                            <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                            <!-- Newsletter Form -->
                            <div class="newsletter-form">
                                <form action="#" method="post">
                                    <input type="email" name="nl-email" class="form-control mb-15" id="emailnl" placeholder="Enter your email">
                                    <button type="submit" class="btn vizew-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <!-- <div class="single-widget"> -->
                            <!-- Section Heading -->
                            <!-- <div class="section-heading style-2 mb-30">
                                <h4>Most Viewed Playlist</h4>
                                <div class="line"></div>
                            </div> -->

                            <!-- Single Blog Post -->
                            <!-- <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <img src="img/bg-img/1.jpg" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="single-post.html" class="post-title">DC Shoes: gymkhana five; the making of</a>
                                    <div class="post-meta d-flex justify-content-between">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                    </div>
                                </div>
                            </div> -->
                        <!-- </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Archive Grid Posts Area End ##### -->

<% end %>

<% content_for :for_js do %>
    <script>
        function limit_time(){
          var end_times = $('#search-maxtime')[0].options
          if (parseInt($('#search-maxtime').val()) <= parseInt($('#search-mintime').val())){
              $('#search-maxtime').val(parseInt($('#search-mintime').val()) + 1)
          }
          for (var i = 0; i < end_times.length; i++){
            if (parseInt(end_times[i].value) <= parseInt($('#search-mintime').val())){
              $(end_times[i]).css('display', 'none')
            }else{
              $(end_times[i]).css('display', 'block')
            }
          }
        }
        limit_time()
        $('#search-mintime').change(limit_time)
        $('#city').change(function() {
            if($(this).val() != 'default') {
                var city_code = $(this).val();
                $.ajax({
                    url: "/get_district",
                    method: "GET",
                    data: {
                        city_code: city_code,
                    },
                    success:function(result){
                        $('#district').html(result.data);
                    }
                })
            }
        });
    </script>
<% end %>
