<!DOCTYPE html>
<html>
  <head>
    <title>LiquickCleany</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:for_head) %>
  </head>

  <body>
    <section class="content">
      <% flash.each do |key, value| %>
        <div class="row">
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
        </div>
      <% end %>
    </section>
    <div class="container">
      <div class="row justify-content-md-center" style="margin-top: 40px">
        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
